
/*-----------------------------------------------
*	BASE
-----------------------------------------------*/

body {
	color: #212121; 
	font-family: 'Lato', sans-serif;
	//font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5 ,h6 {
	margin-bottom: 5px;
	margin-top: 0;
}

p {

}

ol, ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {

}

a {
	color: #f21885;
	transition: 0.2s ease-in-out;
}

a:active,
a:hover,
a:focus {
	color:#212121;
}

/*-----------------------------------------------
*   HERO
-----------------------------------------------*/

.hero {
	background-color: #21ABC7;
	text-align: center;
	margin-bottom: 40px;
}

.logo {
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 40px 0;
}

/*-----------------------------------------------
*   NEWS
-----------------------------------------------*/

.news-item {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.news-item:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.news-link {
	color: #3f51b5;
  	font-size: 20px;
  	display: block;
  	margin-bottom: 10px;
}

.news-meta-item {
	display: inline;
	margin-right: 15px;
}

.content {
	margin-bottom: 40px;
}

/*-----------------------------------------------
*   CONTAINER
-----------------------------------------------*/

.container {
	margin: 0 auto;
	max-width: 800px;
}

/*-----------------------------------------------
*   STATES
-----------------------------------------------*/

.is-liked {
	animation: flash 1s;
}

.is-visible {
	height: auto;
	opacity: 1;
	visibility: visible;
}

/*-----------------------------------------------
*   FORM
-----------------------------------------------*/

.form {
	margin-bottom: 20px;
	opacity: 0;
	height: 0;
	transition: opacity 0.2s ease-in-out;
	visibility: hidden;
}

.form.is-visible {
	height: auto;
	opacity: 1;
	visibility: visible; 
}

.form-label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-input {
	border:0;
	border: 1px solid #b6b6b6;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}

/*-----------------------------------------------
*   MODAL
-----------------------------------------------*/

.modal {
	background-color: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.50);
	left: 50%;
	position: absolute;
	opacity: 0;
	top: 40px;
	transform: translate(-50%, -5%);
	transition: 0.4s ease-in-out;
	visibility: hidden;
	width: 450px;
	z-index: 2;
}

.modal.is-visible {
	opacity: 1;
	transform: translate(-50%, 0);
	visibility: visible;
}

.modal-media {
	position: relative;
}

.modal-media-title {
	bottom: 20px;
	font-size: 30px;
	left: 20px;
	color: #fff;
	position: absolute;
}

.modal-content {
	padding: 20px;
}

.modal-overlay {
	background-color: #212121;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: 0.4s ease-in-out;
	position: fixed;
	z-index: 1;
}

.modal-overlay.is-visible {
	opacity: 0.4;
	visibility: visible;
}


/*-----------------------------------------------
*   ANIMATION
-----------------------------------------------*/

@keyframes flash {
	50%, to {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}